// mau chữ
$mausdt: #d71b96
$mauchuheadernhat: #e5e5e5
$mauchuvua: #b2b2b2
$mauchuheaderdam: #4d4d4d
$mauchuxam: #808080
$mauchubanner: #ffffff
$mautitle: #1a1a1a
$mauxemthem: #d71b96
$maunenmain: #f7f7f7
// màu background
$bgdangky: linear-gradient(87deg, #eb008b, #652d90)
$bgbutton: #f2f2f2
// màu viền
$mauviennhat: #e6e6e6
$mauvien: #e6e6e6
$mauviencard: #f2f2f2
// co chu
$co1: 10px
$co2: 12px
$co3: 14px
$co4: 18px
$co5: 30px 
$co6: 38px

// width - height
$height_header_top: 40px
$height_top_body: 120px
$width_logo: 150px
$height_logo: 60px
$button_login: 105px
$button_tho_shop: 160px
$height_button: 40px
$width_form-tab: 968px
$height_footer: 130px
 
@mixin reset()
	margin: 0
	padding: 0
	list-style: none
@mixin flex()
	display: flex
	justify-content: space-between
	flex-wrap: wrap
	align-items: center
@mixin login()
	border: solid 2px transparent
	background-image: linear-gradient(#ffffff, #ffffff), linear-gradient(81deg, #eb008b, #652d90)
	color: $mausdt
	transition: .3s ease-in-out
@mixin next()
	background-image: $bgdangky
	color: $mauchubanner
	font-weight: 700
	display: inline-block
	width: 160px
	height: 45px
	line-height: 45px
	text-align: center
	border-radius: 4px
	font-size: $co4
	float: right
	margin-top: -53px
@mixin nutbtn()
	font-weight: 500
	margin-left: 12px
	border-radius: 4px
	background-origin: border-box
	background-clip: content-box, border-box
	transition: 0.3s linear
	display: inline-block
	text-align: center
@mixin btnHover()
	content: ""
	position: absolute
	top: 0
	left: 0
	right: 0
	width: 100%
	height: 100%
	background-image: $bgdangky
	z-index: 1
	visibility: hidden
	opacity: 0
	transition: 0.3s linear

// css chung
p 
	margin: 0
a:hover
	text-decoration: none
a
	color: $mauchuheaderdam
	font-size: $co3
ul
	padding: 0
	margin: 0
	list-style: none
h2.title
	display: block
	font-size: $co5
	font-weight: 700
	text-align: center
	margin: 40px 0

// css card 1 phần tử (sản phẩm)
.card
	border-color: $mauviencard
	margin-bottom: 30px
	.outhor
		display: flex
		justify-content: space-between
		padding: 10px 15px 0
		.info
			display: flex
			align-items: flex-start
			img
				width: 26px
				height: 26px
				border-radius: 50%
				margin: 5px 2px 0 0
			p
				display: flex
				flex-direction: column
				font-size: $co2
				margin-bottom: 7px
				span.title
					color: $mauchuheaderdam
					font-weight: bold
					&:hover
						color: $mausdt
				span.city
					color: $mauchuxam
		.booking_book
			color: $mauchuxam
			font-size: $co2
			font-weight: 700
			margin-top: 8px
			&:hover
				color: $mausdt
	img.img-fluid
		cursor: pointer
	.card-block
		padding: 15px 10px
		.title-img
			color: $mauchuvua
			font-size: $co2
			font-weight: 700
			align-items: flex-end
			display: flex
			&:before
				content: ""
				display: block
				width: 30px
				height: 2px
				background: $mauchuvua
				margin: 0 3px
		.card-title
			font-size: $co3
			color: $mauchuheaderdam
			font-weight: 900
			cursor: pointer
			white-space: nowrap
			width: 100%
			overflow: hidden
			text-overflow: ellipsis
			transition: .3s ease-in-out
			&:hover
				color: $mausdt
		.tuongtac
			@include flex()
			color: $mauchuvua
			font-size: $co2
			justify-content: flex-start
			.item
				margin-right: 15px
				&:last-child
					margin-right: 0
		.price
			position: absolute
			right: 10px
			background-image: $bgdangky
			color: $mauchubanner
			font-size: 12px
			padding: 3px 5px
			font-weight: bold
			border-radius: 4px
			margin-top: -20px
			cursor: pointer
			transition: .3s ease-in-out
			z-index: 100
			.list-group
				position: absolute
				color: $mauchuheaderdam
				width: 300%
				text-align: center
				bottom: 100%
				right: -110%
				box-shadow: 8px 8px 24px 0 #00000066
				border-radius: 4px
				opacity: 0
				visibility: hidden
				transition: .3s ease-in-out
				&:after
					content: ""
					width: 15px
					height: 15px
					background: $mauchubanner
					transform: rotate(45deg)
					display: inline-block
					position: absolute
					left: 40%
					bottom: -8px
				h5
					font-size: $co2
					margin-bottom: 4px
				span
					color: $mausdt
					font-size: $co4
					font-weight: 700
				.list-group-item
					border: none
					border-bottom: 2px solid #ddd
					&:last-child
						border: none
			&:hover
				.list-group
					visibility: visible
					opacity: 1
					bottom: 180%
		.inbox
			display: block
			border-radius: 4px
			text-align: center
			margin-top: 20px
			color: $mausdt
			transition: .4s ease-in-out
			font-weight: 700
			background-clip: content-box, border-box
			background-origin: border-box
			@include login()
			position: relative
			span
				z-index: 2
				position: relative
				padding: 5px 0
				display: block
			&:after
				@include btnHover()
			&:hover:after
				opacity: 1
				visibility: visible
			&:hover
				span
					color: $mauchubanner
// css show tab
.list_sp
	.tab_album
		@include flex()
		justify-content: center
		margin: -20px 0 40px 0
		.item
			margin: 0 20px
			.item_tab
				color: $mauchuvua
				font-weight: bold
				border: 1px solid $mauvien
				border-radius: 4px
				background-origin: border-box
				background-clip: content-box, border-box
				display: inline-block
				&.active
					@include login()
				span
					padding: 6px 16px
					display: inline-block
	.show_tab
		height: 0
		display: none
	@keyframes showtab
		0%
			top: 20px
			opacity: 0
		100% 
			top: 0
			opacity: 1
	.show_tab.active
		opacity: 1
		z-index: 10
		animation: showtab .7s ease-in-out
		position: relative
		height: auto
		overflow-x: hidden
		display: block
// nút xem thêm
.xemthem
	a
		display: inline-block
		background-origin: border-box
		background-clip: content-box, border-box
		background-image: linear-gradient(#ffffff, #ffffff), linear-gradient(81deg, #eb008b, #652d90)
		border: solid 2px transparent
		border-radius: 5px
		transition: .4s ease-in-out
		position: relative
		&:hover
			background-image: $bgdangky
			transition: .4s ease-in-out
			span
				color: $mauchubanner
		span
			display: inline-block
			padding: 15px 35px
			color: $mausdt
			font-size: $co4
			border-radius: 5px
			font-weight: bold
			transition: .4s ease-in-out
.status
	opacity: 0
	visibility: hidden
*
	box-sizing: border-box
html, body
	width: 100%
	height: 100%
	font-family: "Quicksand", sans-serif
	overflow-x: hidden
.wrapper
	.header
		.container
			.header_top
				height: $height_header_top
				border-bottom: 1px solid $mauviennhat
				@include flex()
				.hotline
					@include reset()
					color: $mauchuheaderdam
					line-height: $height_header_top
					font-size: $co3
					.phone
						color: $mausdt
				.icon_search
					@include flex()
					text-align: center
					a
						background-color: $mauchuheadernhat
						color: $mauchubanner
						padding: 0px 4px
						border-radius: 4px
						margin-left: 30px
						transition: .4s ease-in-out
						&:hover
							background-color: $mauchuvua
				.helpkh
					a
						color: $mauchuvua
						font-size: $co3
						margin-left: 25px
						font-weight: bold
						transition: .4s ease-in-out
						&:hover
							color: $mausdt
			// ------------------------------end .header_top-------------------------
			.top_body
				height: $height_top_body
				@include flex()
				.menu
					@include flex()
					.item-menu
						margin: 0 16px
						&:first-child
							margin-left: 0
						&:last-child
							margin-right: 0
						.link-item
							transition: .4s ease-in-out
							font-weight: 500
							&:hover
								color: $mausdt
				.logo
					a
						width: $width_logo
						height: $height_logo
						display: inline-block
						img
							width: 100%
							height: 100%
				.login
					.button
						height: $height_button
						line-height: $height_button
						display: flex
						flex-wrap: wrap
						a
							@include nutbtn()
							&:first-child
								margin-left: 0
								width: $button_login
								border: 2px solid transparent
							&:hover
								&:first-child
									@include login()
							&:nth-child(2)
								position: relative
								@include login()
								width: $button_login
								font-weight: bold
								span
									position: relative
									z-index: 2
							&:nth-child(2):after
								@include btnHover()
							&:hover
								&:nth-child(2)
									color: $mauchubanner
								&:nth-child(2):after
									visibility: visible
									opacity: 1
							&:last-child
								border: 2px solid $mauvien
								width: $button_tho_shop
							&:hover
								&:last-child
									@include login()
	//---------------------- end .header--------------------------------------------
	.main
		background-color: $maunenmain
		padding-bottom: 50px
		.banner
			.owl-item.active
				opacity: 1
			.owl-item
				opacity: .5
				transition: .5s ease-in-out
				.item
					position: relative
					height: auto
					.post
						position: absolute
						top: 0
						left: 0
						width: 100%
						height: 100%
						display: flex
						align-items: flex-end
						justify-content: space-around
						background-color: #00000070
						padding-bottom: 20px
						.post-detail
							h2.title
								font-weight: 700
								font-size: $co4
								margin: 0 !important
								color: $mauchubanner
								transition: .3s ease-in-out
								cursor: pointer
								&:hover
									color: $mausdt
							h6.title-img
								color: $mauchuvua
								font-size: $co3
								display: flex
								align-items: flex-end
								&:before
									content: ""
									display: block
									width: 30px
									height: 2px
									background-color: #b2b2b2
									margin: 0 3px
						.tuongtac
							display: flex
							.item
								margin-left: 10px
								&:first-child
									margin-left: 0
							span
								color: $mauchuvua
								font-size: $co2
						.author
							.thum_avatar
								display: flex
								img
									width: 30px
									height: 30px
									border-radius: 50%
								span
									display: block
									font-size: 11px
									font-weight: bold
									color: $mauchuvua
								span.name
									font-size: $co3
									color: $mauchubanner
									transition: .3s linear
									width: 150px
									white-space: nowrap
									overflow: hidden
									text-overflow: ellipsis
									&:hover
										color: $mausdt

		.list_sp
			.top_trang_diem
				img.detail_popup
					height: 165px
					object-fit: cover
					object-position: top
			#tatca
				img.detail_popup
					height: 460px
					object-fit: cover
					object-position: top
			#vay_cuoi
				img.detail_popup
					height: 460px
					object-fit: cover
					object-position: top
			#ao_dai
				img.detail_popup
					height: 460px
					object-fit: cover
					object-position: top

	
	//------footer------------------------------
	.footer
		height: $height_footer
		line-height: $height_footer
		background-color: $mauchubanner
		display: flex
		justify-content: space-around
		align-items: center
		.logo
			img
				max-width: 120px
				opacity: .2
				filter: grayscale(1)
		.contact
			display: flex
			.item
				margin-right: 15px
				.link
					color: $mauchuheaderdam
					font-weight: 500
	
	.modal_popup
		width: 100%
		height: 100%
		position: fixed
		top: 0
		left: 0
		z-index: 100
		background-color: #00000073
		.close_modal
			position: absolute
			top: -10px
			right: 35px
			color: $mauchubanner
			cursor: pointer
			font-size: $co6
			display: inline-block
			z-index: 111
		.modal
			display: block
			width: 90%
			height: 93%
			background-color: $mauchubanner
			margin: 20px auto
			left: 50%
			transform: translateX(-50%)
			border-radius: 15px 0 0 15px
			overflow: scroll
			overflow-x: hidden
			&::-webkit-scrollbar
				width: 5px
			&::-webkit-scrollbar-track
				box-shadow: inset 0 0 5px #fff
			&::-webkit-scrollbar-thumb
				background-color: #17b154
			&::-webkit-scrollbar-thumb:hover
				background-color: seagreen
			.silde_popup
				background-color: #000
				padding-top: 35px
				.carousel
					background-color: #000
					ol
						position: relative
						height: 83px
						width: 258px
						margin: 0 auto
						padding: 16px 0
						a.carousel-control-prev.dottrai
							left: -50px
							z-index: 100
							top: 50%
							transform: translateY(-50%)
						a.carousel-control-next.dotphai
							top: 50%
							transform: translateY(-50%)
							right: -50px
							z-index: 110
						li.active
							img
								border: solid 1px $mauchubanner
								transform: scale(1.2)
								transition: .4s ease-in-out
						li
							text-indent: 0
							background-color: transparent
							height: 40px
							width: 40px
							margin: 0 5px
							border: 0
							img
								width: 100%
								height: 40px
								object-position: top
								object-fit: cover
					img
						object-fit: contain
						object-position: top
						height: 515px
					a.dot
						height: 40px
						position: absolute
						right: 0
						top: 50%
						transform: translateY(-50%)
						span
							display: block
							width: 40px
							height: 40px
			.detail_post
				padding: 25px 30px
				padding-left: 40px
				h2.title
					font-weight: 700
				h6
					color: $mauchuvua
					font-size: $co3
				.author
					display: flex
					.thum_avatar
						display: flex
						img
							width: 40px
							height: 40px
						span
							display: block
							font-size: 12px
							font-weight: bold
							color: $mauchuvua
						span.name
							font-size: $co4
							color: $mauchuheaderdam
							transition: .3s linear
							&:hover
								color: $mausdt
					.nutbtn
						@include nutbtn()
						height: 42px
						line-height: 42px
						@include login()
						position: relative
						z-index: 10
						&:nth-child(2)
							margin-left: 40px
						&:after
							@include btnHover()
						&:hover
							color: $mauchubanner
							&:after
								visibility: visible
								opacity: 1
								z-index: -1
						span
							padding: 0 20px
							transition: 0.3s linear
							i
								padding-right: 10px
				.mota
					font-weight: 500
					font-size: $co3
					color: $mauchuheaderdam
					padding: 5px 0 20px
				.comment
					padding: 25px 0
					max-height: 250px
					border-bottom: 1px solid $mauvien
					border-top: 1px solid $mauvien
					position: relative
					overflow-y: scroll
					overflow-x: hidden
					li
						margin-bottom: 20px
						.author
							font-size: $co2
							flex-direction: column
							img
								width: 30px
								height: 30px
								border-radius: 30px
								display: block
							h5.name
								font-size: $co3
							time
								font-weight: 500
								color: $mauchuvua
						.content_comment
							p
								font-size: $co3
				.inbox_comment
					label
						padding: 20px 0 10px
						color: $mauchuheaderdam
						font-weight: bold
						font-size: $co4
					textarea
						background-color: $bgbutton
					input
						@include nutbtn()
						width: 150px
						height: 42px
						line-height: 42px
						margin-left: 0
						padding: 0
						outline: none
						border: transparent
						@include login()
						position: relative
						z-index: 10
						transition: .4s ease-in-out
						&:hover
							color: $mauchubanner
							background-image: $bgdangky
							border: none
				.statistical
					.item
						display: flex
						justify-content:  space-between
						padding: 20px 0
						color: $mauchuvua
						border-bottom: 1px solid $mauvien
						font-weight: 500
						font-size: $co3
						&:last-child
							border: none
						p
							margin: 0
							i
								margin-right: 10px
								font-size: $co4
						.tol
							font-size: $co4
						a.link
							display: flex
							justify-content: space-between
							width: 100%
							color: $mauchuvua
							&:hover
								i
									color: $mausdt
									transition: .4s ease-in-out
				.social
					padding-bottom: 20px
					border-bottom: 1px solid  $mauvien
					.link
						border-radius: 5px
						border: solid 2px $mauchuvua
						margin-right: 20px
						display: inline-block
						text-align: center
						background-origin: border-box
						background-clip: content-box, border-box
						i
							font-size: 22px
							padding: 7px
							color: $mauchuvua
							transition: .3s ease-in-out
						&:hover
							@include login()
							transition: .4s ease-in-out
							i 
								color: $mausdt
				.tags
					padding: 20px 0 10px
					h4
						font-size: $co4
					.list_tags
						display: flex
						.link
							border: 1px solid $mauvien
							color: $mauchuvua
							font-weight: bold
							border-radius: 4px
							background-origin: border-box
							background-clip: content-box, border-box
							&:hover
								@include login()
								color: $mausdt
								border: 1px solid transparent
							span
								padding: 7px 10px
								display: inline-block
				.album_another
					padding: 20px 0 10px
					h4
						font-size: $co4
					.list_album
						display: flex
						flex-wrap: wrap
						li
							width: 50%
							padding: 0 5px
							margin-bottom: 20px
							.link
								img
									width: 100%
									height: 100%
	.modal_fade
		width: 100%
		height: 100%
		background: #00000073
		position: fixed
		top: 0
		left: 0
		z-index: 100
		.modal
			display: block
			width: 70%
			left: 50%
			transform: translateX(-50%)
			top: 7%
			border-radius: 10px
			.modal-header
				border: none
				padding: 30px 0 22px
				h2
					font-weight: bold
					font-size: $co5
			.header_content
				display: flex
				justify-content: space-between
				padding: 0 55px
				padding-bottom: 20px
				position: relative
				&:after
					content: ''
					position: absolute
					bottom: 0
					left: 0
					width: 96%
					margin-left: 2%
					border-bottom: solid 1px $mauvien
				h5
					font-size: $co3
					color: $mauchuvua
					font-weight: bold
					margin-bottom: 15px
				.author
					.thum_avatar
						display: flex
						img
							width: 40px
							height: 40px
							border-radius: 50%
							margin-right: 5px 
						span
							display: block
							font-size: 12px
							font-weight: bold
							color: $mauchuvua
						span.name
							font-size: $co4
							color: $mauchuheaderdam
							transition: .3s linear
							&:hover
								color: $mausdt
				.goichup
					select
						padding: 10px 13px
				.phichup
					span
						font-size: $co3
						font-weight: 500